#header{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.login a h3{
    color: black;

}
#menu{
    padding:0px;
    width: 30%;
}
#menu ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}

#head{
    display: flex;

}

#headtext{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
#headimg{
    width:50%
}

#headimg img{
    width: -webkit-fill-available;
}
#menu ul li a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding:5px
}
#menu ul li a:hover{
    color:brown
}
#menu ul li p{
    /* padding:20px */
    cursor: pointer;
}
#menu ul li p:hover{
    /* padding:20px */
    color:brown
}

#background{
    background: linear-gradient(0.5turn, #4A4A4A,  #898888, #FEFAFA );
}
#slider{
    width:90%;
    margin: 50px auto;
    /* position: relative; */
    box-shadow: 0px 0px 10px 3px grey;
    /* overflow: auto; */
    overflow: auto;
    border:5px solid;
    height: 200px;
}

#slider figure{
    margin:0px;
    position:relative;
    width:200%;
    left:0px;
    transition: .5s, ease-in-out;
}
#img{
    width:15%;
    /* height: 100%; */
    float: left;
}

.featured-items{
    display: flex;
    justify-content: center;
}

.slider figure{
    height: 300px
}
#mobile{
    display: none;
}



@media(max-width:600px){
    
    #header{
        display:none;
    }

    #head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    #mobile{
        display:flex;
        justify-content: space-between;
        align-items: center;

    }
    #mobilenav{
        background: white;
        position: absolute;
    }
    #mobilenav ul{
        list-style: none;
        padding: 0px;
    }
    #mobilenav ul li{
        padding:10px;
        font-size: 24px;
    }
}