#main{
    display: flex;
    flex-direction: column;
    margin-right:20px
}
#slide{
    display: flex;
    background-color: white;
}
.product-image-slider{
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.itemname{
    text-align: center;
    font-size: 14px;
}